<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <xacro:arg name="namespace" default="" />
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="camera_name" default="zedm" />
    <xacro:arg name="camera_model" default="zedm" />
    <xacro:arg name="camera_resolution" default="VGA" />
    <xacro:arg name="lidar_update_rate" default="10" />
    <xacro:arg name="ros2_control_params" default="" />
    <xacro:arg name="use_lidar" default="false" />
    <xacro:arg name="use_ros2_control" default="false" />
    
    <!-- Include Gazebo files -->
    <xacro:include filename="$(find arcs_cohort_description)/description/robot.urdf.xacro"/>
    <xacro:if value="$(arg use_lidar)">
        <xacro:include filename="$(find arcs_cohort_gazebo_sim)/description/lidar.gazebo.xacro"/>
    </xacro:if>
    <xacro:include filename="$(find arcs_cohort_gazebo_sim)/description/vectornav_imu.gazebo.xacro"/>
    <xacro:include filename="$(find arcs_cohort_gazebo_sim)/description/zed_camera.gazebo.xacro"/>

    <!-- Include Gazebo plugins -->
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="$(find arcs_cohort_gazebo_sim)/control/gazebo_ros2_control_plugin.xacro"/>
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="$(find arcs_cohort_gazebo_sim)/control/gazebo_diff_drive_plugin.xacro"/>
    </xacro:unless>

    <!-- Build robot model -->
    <xacro:if value="$(arg use_lidar)">
        <xacro:lidar_description_gazebo namespace="$(arg namespace)" prefix="$(arg prefix)" lidar_update_rate="$(arg lidar_update_rate)"/>
    </xacro:if>
    <xacro:vectornav_imu_description_gazebo namespace="$(arg namespace)" prefix="$(arg prefix)"/>
    <xacro:zed_camera_description_gazebo namespace="$(arg namespace)" prefix="$(arg prefix)" camera_name="$(arg camera_name)" camera_model="$(arg camera_model)" resolution="$(arg camera_resolution)"/>

    <!-- Conditionally call the appropriate Gazebo plugin description -->
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:gazebo_ros2_control_plugin_description namespace="$(arg namespace)" prefix="$(arg prefix)" ros2_control_params="$(arg ros2_control_params)"/>
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:gazebo_diff_drive_plugin_description namespace="$(arg namespace)" prefix="$(arg prefix)"/>
    </xacro:unless>

</robot>
