<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:macro name="zed_camera_description_gazebo" params="prefix camera_name=zedm camera_model=zedm resolution=VGA">
        <xacro:if value="${resolution == 'HD2K'}">
            <xacro:property name="resolution_width" value="2208" />
            <xacro:property name="resolution_height" value="1242" />
            <xacro:property name="update_rate" value="15" />
        </xacro:if>
        <xacro:if value="${resolution == 'HD1080'}">
            <xacro:property name="resolution_width" value="1920" />
            <xacro:property name="resolution_height" value="1080" />
            <xacro:property name="update_rate" value="30" />
        </xacro:if>
        <xacro:if value="${resolution == 'HD720'}">
            <xacro:property name="resolution_width" value="1280" />
            <xacro:property name="resolution_height" value="720" />
            <xacro:property name="update_rate" value="60" />
        </xacro:if>
        <xacro:if value="${resolution == 'VGA'}">
            <xacro:property name="resolution_width" value="672" />
            <xacro:property name="resolution_height" value="376" />
            <xacro:property name="update_rate" value="100" />
        </xacro:if>

        <xacro:if value="${camera_model == 'zed'}">
            <xacro:property name="baseline" value="0.12" />
            <xacro:property name="fov" value="2.0" />
            <xacro:property name="clip_near" value="0.3" />
            <xacro:property name="clip_far" value="25" />
            <!-- Gazebo color -->
            <gazebo reference="${camera_model}_camera_center">
                <material>Gazebo/Grey</material>
            </gazebo>
        </xacro:if>
        <xacro:if value="${camera_model == 'zedm'}">
            <xacro:property name="baseline" value="0.06" />
            <xacro:property name="fov" value="2.0" />
            <xacro:property name="clip_near" value="0.1" />
            <xacro:property name="clip_far" value="15" />
            <!-- Add IMU for ZED -->
            <!-- <xacro:imu_gazebo name="${camera_name}" frame="${camera_name}_imu_frame_gazebo" /> -->
            <!-- Gazebo color -->
            <gazebo reference="${camera_model}_camera_center">
                <material>Gazebo/DarkGrey</material>
            </gazebo>
        </xacro:if>
        <xacro:if value="${camera_model == 'zed2'}">
            <xacro:property name="baseline" value="0.12" />
            <xacro:property name="fov" value="1.8" />
            <xacro:property name="clip_near" value="0.2" />
            <xacro:property name="clip_far" value="20" />
            <!-- Add IMU for ZED -->
            <xacro:imu_gazebo name="${camera_name}" frame="${camera_name}_imu_frame_gazebo" />
            <!-- Gazebo color -->
            <gazebo reference="${camera_model}_camera_center">
                <material>Gazebo/Black</material>
            </gazebo>
        </xacro:if>

        <!-- Left Camera Gazebo -->
        <gazebo reference="${camera_name}_left_camera_frame">
            <sensor name="${prefix}left_camera" type="rgbd_camera">
                <topic>camera/left_camera</topic>
                <gz_frame_id>${camera_name}_left_camera_frame</gz_frame_id>
                <always_on>1</always_on>
                <update_rate>${update_rate}</update_rate>
                <visualize>true</visualize>
                <camera>
                    <camera_info_topic>camera/left_camera_info</camera_info_topic>
                    <horizontal_fov>${fov}</horizontal_fov>
                    <image>
                        <format>R8G8B8</format>
                        <width>${resolution_width}</width>
                        <height>${resolution_height}</height>
                    </image>
                    <clip>
                        <near>${clip_near}</near>
                        <far>${clip_far}</far>
                    </clip>
                </camera>
            </sensor>
        </gazebo>

        <!-- Right Camera Gazebo -->
        <gazebo reference="${camera_name}_right_camera_frame">
            <sensor name="${prefix}right_camera" type="camera">
                <topic>camera/right_camera/image</topic>
                <gz_frame_id>${camera_name}_right_camera_frame</gz_frame_id>
                <visualize>true</visualize>
                <update_rate>${update_rate}</update_rate>
                <camera>
                    <camera_info_topic>camera/right_camera/camera_info</camera_info_topic>
                    <horizontal_fov>${fov}</horizontal_fov>
                    <image>
                        <format>R8G8B8</format>
                        <width>${resolution_width}</width>
                        <height>${resolution_height}</height>
                    </image>
                    <clip>
                        <near>${clip_near}</near>
                        <far>${clip_far}</far>
                    </clip>
                </camera>
            </sensor>
        </gazebo>
    </xacro:macro>

</robot>